{% extends "club_one_base.html" %}

{% block content %}



<!-- about section -->
<div class="grid xl:grid-cols-1 min-h-190px gap-10 xl:mx-48 pb-[50vh]">



    <section class="text-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-col">
            <div class="lg:w-4/6 mx-auto">
                <div class="rounded-lg h-64 overflow-hidden">
                    <img alt="content" class="object-cover object-center h-full w-full" src="../static/img/b-1.jpg">
                </div>
                <div class="flex flex-col sm:flex-row mt-10">
                    <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                        <div
                            class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                            <img class="w-18 h-18 rounded-full shadow-lg shadow-sky-500/100"
                                src="../static/img/bird-1.jpeg" alt="profile">
                        </div>
                        <div class="flex flex-col items-center text-center justify-center">
                            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Apolo King
                            </h2>
                            <div class="w-16 h-1 bg-sky-500 rounded mt-2 mb-4"></div>
                            <p>Founder and Club President</p>
                            <p>2021-2023</p>
                        </div>
                    </div>

                    <div
                        class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left leading-relaxed">
                        <section>
                            <h2 class="text-2xl font-medium mb-4">⌛ Club History</h2>
                            <p class="mb-4">The soccer club at ALU has a rich history that dates
                                back several decades. Founded in 2018, the club has become a
                                pillar of the local sports community. Over the years, it has
                                evolved, nurturing talent and promoting the love for the beautiful
                                game.</p>
                            <p>With each passing season, the club has achieved numerous milestones,
                                celebrated victories, and faced challenges head-on. Its dedication
                                to excellence has propelled it to become one of the most respected
                                and successful clubs in the region.</p>
                        </section>

                        <section class="mt-10">
                            <h2 class="text-2xl font-medium mb-4">🔮 Club Mission</h2>
                            <p class="mb-4">At the soccer club at ALU, our mission is to foster a
                                passion for soccer, develop exceptional players, and promote
                                sportsmanship and teamwork. We strive to provide a nurturing and
                                inclusive environment for players of all ages and skill levels.</p>
                            <p class="mb-4">Through our training programs, we aim to instill
                                discipline, leadership, and a love for the game. We believe in the
                                power of soccer to inspire, unite, and positively impact individuals
                                and their communities.</p>
                            <p>With a focus on continuous improvement and a commitment to our
                                values, we aspire to be a catalyst for personal growth, athletic
                                achievement, and community engagement. Together, we embrace the
                                challenge of reaching new heights and leaving a lasting legacy in
                                the world of soccer.</p>
                        </section>

                        <section class="mt-10">
                            <h2 class="text-2xl font-medium mb-4">🫂Club Values</h2>
                            <ul class="list-disc list-outside ml-5 mb-4">
                                <li class="leading-relaxed">Excellence: We strive for excellence in
                                    all aspects of the game, both on and off the field.</li>
                                <li class="leading-relaxed">Teamwork: We believe in the power of
                                    teamwork and collaboration to achieve collective success.</li>
                                <li class="leading-relaxed">Sportsmanship: We promote fair play,
                                    respect, and integrity in all our interactions.</li>
                                <li class="leading-relaxed">Inclusivity: We welcome and embrace
                                    diversity, creating an inclusive environment for all.</li>
                                <li class="leading-relaxed">Passion: We are passionate about soccer
                                    and channel that passion into our
                                    commitment and dedication.</li>
                                <li class="leading-relaxed">Community: We actively engage with and
                                    contribute to our local and global communities.</li>
                            </ul>
                        </section>


                        <section class="mt-10">
                            <h2 class="text-2xl font-medium mb-4">🏆 Achievements</h2>
                            <table class="w-full">
                                <tr>
                                    <th class="px-4 py-2">🗓️ Date</th>
                                    <th class="px-4 py-2">🏅 Achievement</th>
                                </tr>
                                <tr>
                                    <td class="px-4 py-2">May 2021</td>
                                    <td class="px-4 py-2">League Champions</td>
                                </tr>
                                <tr>
                                    <td class="px-4 py-2">September 2022</td>
                                    <td class="px-4 py-2">Regional Tournament Winners</td>
                                </tr>
                                <tr>
                                    <td class="px-4 py-2">August 2022</td>
                                    <td class="px-4 py-2">Player of the Year Award</td>
                                </tr>
                                <tr>
                                    <td class="px-4 py-2">December 2022</td>
                                    <td class="px-4 py-2">Community Service Award</td>
                                </tr>
                                <tr>
                                    <td class="px-4 py-2">January 2023</td>
                                    <td class="px-4 py-2">Fair Play Award</td>
                                </tr>
                            </table>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </section>



</div>



</main>















{% endblock %}