<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/profile.css">

    <!--CND tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home1.css') }}">
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,500;1,600&display=swap"
        rel="stylesheet">

    <!--Swal-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--favicon-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!--Icons-->
    <link rel="icon" href="../static/img/blue-icon-small.ico">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <title>Calu After Login Home Page</title>


    <!-- Compiled and sweetfire CSS for the flash messages -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>





<body class="font-[poppins] bg-gradient-to-t from-[#ffffff] to-[#ffffff] h-screen">



    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script class="flash-messages">
        {% for message in messages %}
        swal({
            text: '{{ message }}',
            timer: 3000,
            buttons: false,
            customClass: {
                container: 'gray-field',
                content: 'black-text'
            }
        });
        {% endfor %}
    </script>
    {% endif %}
    {% endwith %}





    <header class="bg-white p-2 overflow-visible !important">

        <!-- Navbar -->
        <nav class="flex justify-between items-center w-[92%] m-auto">

            <!-- Logo -->
            <div>
                <a href="{{ url_for('homel') }}" class=" flex items-center"> <img
                        src="../static/img/blue-icon-small.ico" alt="Calu Logo" class="w-16">
                    <span class="self-center text-3xl font-black whitespace-nowrap text-sky-600">CALU</span>
                </a>

            </div>


            <!-- Nav Menu -->
            <div
                class="nav-links z-10 duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5">
                <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                    <li>
                        <a href="{{ url_for('homel') }}" class="text-xl font-bold text-[#3c5a66] hover:text-sky-400">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('clubsl') }}"
                            class="text-xl font-bold text-[#507888] hover:text-sky-400">Clubs</a>
                    </li>
                    <li>
                        <a href="{{ url_for('aboutl') }}"
                            class="text-xl font-bold text-[#507888] hover:text-sky-400">About</a>
                    </li>
                </ul>
            </div>

            <div>
                <div class="mx-auto w-100 p-2 flex justify-end">
                    <!-- Drodown -->
                    <div x-data="{isOpen:true}" class="relative inline-block">
                        <!-- Dropdown Button -->
                        <button
                            class="flex h-12 w-12 items-center justify-center rounded-lg bg-slate-900 text-slate-100 ring-slate-100 transition hover:shadow-md hover:ring-2 overflow-hidden"
                            @click="isOpen=!isOpen">
                            {% if user.image %}
                            <img src="{{ url_for('static', filename='uploads/' + user.image.decode('utf-8')) }}"
                                alt="User Image">
                            {% else %}
                            <img src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-12.jpg"
                                alt="User Image" class="w-100% object-cover">
                            {% endif %}
                        </button>

                        <!-- Dropdown Menu -->
                        <div x-show="isOpen" x-transition=""
                            class="absolute right-0 mt-3 flex w-60 flex-col gap-3 rounded-xl bg-sky-900 p-4 text-slate-100 shadow-lg hidden  z-10">
                            <div class="flex gap-3 items-center">
                                <div
                                    class="flex items-center justify-center rounded-lg h-12 w-12 overflow-hidden border-2 border-slate-600">
                                    {% if user.image %}
                                    <img src="{{ url_for('static', filename='uploads/' + user.image.decode('utf-8')) }}"
                                        alt="User Image">
                                    {% else %}
                                    <img src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-12.jpg"
                                        alt="User Image" class="w-100% object-cover">
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="flex gap-1 text-sm font-semibold">{{ user.first_name }}
                                        <span class="text-sky-400">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z">
                                            </path>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="text-xs text-slate-400">User--00{{ user.id }}</div>
                                </div>
                            </div>

                            <div class="border-t border-slate-500/30"></div>
                            <div class="flex flex-col">
                                <a href="{{ url_for('profile') }}"
                                    class="flex items-center gap-3 rounded-md py-2 px-3 hover:bg-slate-800">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                            d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Profile</span>
                                </a>
                                <a href="#" class="flex items-center gap-3 rounded-md py-2 px-3 hover:bg-slate-800">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm11.378-3.917c-.89-.777-2.366-.777-3.255 0a.75.75 0 01-.988-1.129c1.454-1.272 3.776-1.272 5.23 0 1.513 1.324 1.513 3.518 0 4.842a3.75 3.75 0 01-.837.552c-.676.328-1.028.774-1.028 1.152v.75a.75.75 0 01-1.5 0v-.75c0-1.279 1.06-2.107 1.875-2.502.182-.088.351-.199.503-.331.83-.727.83-1.857 0-2.584zM12 18a.75.75 0 100-1.5.75.75 0 000 1.5z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span>Help Center</span>
                                </a>
                            </div>
                            <button id="logout-btn" onclick="confirmLogout()"
                                class="flex justify-center gap-3 rounded-md bg-red-600 py-2 px-3 font-semibold hover:bg-red-500 focus:ring-2 focus:ring-red-400">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="h-6 w-6">
                                    <path fill-rule="evenodd"
                                        d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span>Logout</span>
                            </button>
                        </div>
                    </div>

                    <ion-icon onclick="onToggleMenu(this)" name="menu"
                        class="text-3xl pt-2 pl-2 cursor-pointer md:hidden"></ion-icon>


                </div>

            </div>


        </nav>
    </header>





    <!-- Club Info -->
    <main class="min-h-screen w-full m-0 p-0 box-border font-poppins">

        <section>
            <div class="w-full bg-[url('../static/img/b-1.jpg')] min-h-[calc(30px+20vh)]"></div>

            <div class="">
                <div class="py-[15px] px-[20px] text-center max-h-[350px] relative my-0 mx-auto">
                    <div class="absolute top-[-50%] left-[50%] transform translate-x-[-50%] pt-24">
                        <img class="w-[150px] h-[150px] object-cover border rounded-full block shadow-lg shadow-sky-500/50"
                            src="../static/img/club_logos/football.avif" alt="Club Logo" />
                        <span
                            class="absolute bg-green-500 w-[30px] h-[30px] border rounded-full bottom-[3px] right-[11px] border-white-500/100"></span>
                    </div>

                    <div>
                        <h2 class="text-2xl font-bold mt-20 mb-2 ">{{ club.name }}</h2>
                        <p class="font-light text-gray-700 m-0">A Sports Club</p>
                        <p class="text-gray-700 m-0">Run by ALU staff</p>
                    </div>

                    <div>
                        <ul class="list-none m-0 p-0 flex items-center justify-center gap-10 my-6 mx-0">
                            <li class="flex flex-col font-semibold text-gray-800">
                                <span class="text-black font-bold">{{ member_count }}</span>Members
                            </li>
                            <li class="flex flex-col font-semibold text-gray-800">
                                <span class="text-black font-bold">1,322</span>Attraction
                            </li>
                        </ul>
                    </div>


                    <div class="mb-24">
                        <p class="pb-6 xl:px-80">
                            The Football Club, a sports club run by ALU staff, is a vibrant and dynamic organization
                            dedicated to the beautiful game. With a rich history and a passionate community of players
                            and supporters, the club thrives under the guidance of its committed staff.
                        </p>

                        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                            <a class="text-sky-500">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-8 h-8" viewBox="0 0 24 24">
                                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                                </svg>
                            </a>
                            <a class="ml-4 text-blue-500">
                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    class="w-8 h-8" viewBox="0 0 24 24">
                                    <path
                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                    </path>
                                </svg>
                            </a>
                            <a class="ml-4 text-pink-600">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    class="w-8 h-8" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                                </svg>
                            </a>
                            <a class="ml-4 text-blue-500">
                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" class="w-8 h-8"
                                    stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                                    <path stroke="none"
                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                    </path>
                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                </svg>
                            </a>
                        </span>

                        <div class="grid-cols-1 p-6">

                            {% if user.id in members|map(attribute='user_id') %}
                            <a href="#">
                                <button
                                    class="self-center bg-sky-500 hover:bg-blue-600 text-white p-4 rounded-lg shadow-lg shadow-yellow-700/100"
                                    type="submit">Leave Club!</button>
                            </a>
                            {% else %}
                            <a href="{{ url_for('join_club', club_id=club.id) }}">
                                <button
                                    class="self-center bg-sky-500 hover:bg-blue-600 text-white p-4 rounded-lg shadow-lg shadow-yellow-700/100"
                                    type="submit">Join Club!</button>
                            </a>
                            {% endif %}

                            <div class="xl:h-0.5 bg-gray-400 my-6 xl:mx-34 sm:h-0"></div>

                        </div>



                    </div>
                    <div>
                        <nav-0 class="flex items-center py-10 pt-6 px-0 justify-between xl:flex-col sm:flex-row">
                            <ul class="flex gap-6 list-none m-0 p-0 flex items-center">
                                <li><a class="font-bold bg-blue-100 p-4 hover:bg-sky-300" href="#">Home</a>
                                </li>
                                <li><a class="hover:bg-sky-300 xl:p-4"
                                        href="{{ url_for('club_one_gallery',club_id=club.id) }}">Gallery</a>
                                </li>
                                <li><a class="hover:bg-sky-300 xl:p-4"
                                        href="{{ url_for('club_one_events', club_id=club.id) }}">Events</a>
                                </li>
                                <li><a class="hover:bg-sky-300 xl:p-4"
                                        href="{{ url_for('club_one_about',club_id=club.id) }}">About</a>
                                </li>

                            </ul>

                        </nav-0>



                        {% block content %}

                        {# Template will go here #}

                        {% endblock %}




                        <!-- end-->

                        <script src="../static/js/profile_dropdown.js"></script>
                        <script src="../static/js/humberger_menu.js"></script>



</body>

</html>